<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>University Registrar</h1>
      <ul class="nav">
        <li class="nav-item">
          @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link"})
        </li>
        <li class="nav-item">
          @Html.ActionLink("Students", "Index", "Students", null, new { @class = "nav-link"})
        </li>
        <li class="nav-item">
          @Html.ActionLink("Course", "Index", "Course", null, new { @class = "nav-link disabled"})
        </li>
      </ul>
      <hr>
      @RenderBody()
    </div>
  </body>
</html>