<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="row" id="header">
        <div class="col">
          <h1>University Registrar</h1>
        </div>
      </div>
        <ul class="nav row">
          <li class="nav-item">
            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link"})
          </li>
          <li class="nav-item">
            @Html.ActionLink("Students", "Index", "Students", null, new { @class = "nav-link"})
          </li>
          <li class="nav-item">
            @Html.ActionLink("Courses", "Index", "Courses", null, new { @class = "nav-link"})
          </li>
        </ul>
      @RenderBody()
    </div>
  </body>
</html>