@{
  Layout = "_Layout";
}

<div class=row>
  <div class="col">
    <div class="card">
      <img class="card-img-top" src="~/img/splash.png" alt="A picture of a library">
      <div class="card-body">
        <h5 class="card-title">University</h5>
        <p class="card-text">Welcome the to the University Registrar. Use the navigation links above for administration.</p>
      </div>
    </div>
  </div>
</div>

