#header {
  background-color: #3066BE;
}

#header, h1 {
  color: white;
}

.nav {
  background-color: #090C9B;
  font-weight: bolder;
}

.nav a {
  color: white
}

.nav a:hover {
  color: #B4C5E4;
}

.nav a:active {
  color: 3066BE;
}